<div class='navbar navbar-expand navbar-dark bg-dark'>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/table" routerLinkActive="active">League App |</a>
    <a class="nav-link" routerLink="/table" routerLinkActive="active">Table</a>
    <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
    <a class="nav-link" routerLink="/fixtures" routerLinkActive="active">Fixtures</a>
  </div>
</div>

<div style="margin-top: 20px;" class="m-3">
  <router-outlet></router-outlet>
</div>